@import "variables";

html,
body {
  height: 100%;
  margin: 0;
}

body {
  background: $gb-offwhite;
  font-size: 1.5rem;
  color: black;
  font-family: sans-serif;
}

ul {
    margin: unset;
    padding: unset;
}

#gb-gui {
    margin: unset;
    background-color: #eee;
    font: {
        size: 24px;
        family: sans-serif;
    }
}

button.action {
    margin: 5px;
    padding: 4px 12px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    background: $gb-orange;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.25);
    cursor: pointer;
}

@import "footer";