#gb-login-form {
    background: white;
    padding: 1em;
    width: fit-content;
    margin: auto;
    text-align: center;

    div {
        margin-bottom: 10px;
    }

    label {
        display: block;
    }
}

