#gb-gui-login-page {
    background: blue;
}

#gb-login-form { // div
    background: white;
    padding: 1em;
    width: fit-content;
    margin: auto;
    text-align: center;

    label {
        display: block;
    }
}

