ul {
    margin: unset;
    padding: unset;
}

#gb-gui {
    margin: unset;
    background-color: #eee;
    font-size: 16px;
    font-family: sans-serif;
}

.gb-admin-panel {
}

.gb-admin-menu {
    background: #333;
    height: 100vh;
    width: 15%;
    display: inline-block;
    position: relative;
}

.gb-admin-menu ul li {
    list-style-type: none;
    border-bottom: 1px solid white;
}
.gb-admin-menu ul li a {
    padding: 10px;
    display: block;
    color: white;
}

.gb-admin-bar {
    background: #ccc;
}

.gb-admin-bar ul li {
    list-style-type: none;
    display: inline-block;
    font-size: 20px;
}

.gb-admin-main {
    display: inline-block;
    position: absolute;
    width: 85%;
    background: #afafaf;
    height: 100%;
}